<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/courses" routerLinkActive="active">Link to List Course</a>
    </div>
    <div>
        <a routerLink="/exames" routerLinkActive="active">Link to List Exame</a>
    </div>
    <div>
        <a routerLink="/students" routerLinkActive="active">Link to List Student</a>
    </div>
    <div>
        <a routerLink="/teachers" routerLinkActive="active">Link to List Teacher</a>
    </div>
 <!-- END LINKS -->
</div>